<section class="row">
	<h1 class="centered">Express examples</h1>
	<article class="myspace col-6">
		<h2 class="centered">MySpace</h2>
		<img src="images/myspace.png">
	</article>
	<article class="klout  col-6">
		<h2 class="centered">Klout</h2>
		<img src="images/klout.png">
	</article>
	<article class="learnboost  col-6">
		<h2 class="centered">LearnBoost</h2>
		<img src="images/learnboost.png">
	</article>
	<article class="storify  col-6">
		<h2 class="centered">Storify</h2>
		<img src="images/storify.png">
	</article>
	<article class="geeklist col-6">
		<h2 class="centered">GeekList</h2>
		<img src="images/geeklist.png">
	</article>
	<article class="apiary col-6">
		<h2 class="centered">Apiary</h2>
		<img src="images/apiary.png">
	</article>
</section>